
ion-icon {
    color: #EA9010;
    width: 100px;
    
    height: 40px;
    

}

ion-card-title {
    color: #EA9010;
    text-align: center;
}


ion-card {
    border-radius: 10px;
    border: 2px solid #EA9010;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); 
}
