<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col (click)="navigateToApi()" size="6">

        <ion-card >
          <ion-card-header>
            <ion-icon size="large" name="clipboard-outline"></ion-icon>
            <ion-card-title>Api</ion-card-title>

          </ion-card-header>
        </ion-card>

      </ion-col>

      <ion-col size="6">

        <ion-card (click)="navigateToMusic()" >
          
          <ion-card-header>
            <ion-icon size="large" name="musical-notes-outline"></ion-icon>
            <ion-card-title>Music</ion-card-title>
          </ion-card-header>
        </ion-card>

      </ion-col>

      <ion-col size="6">
        <ion-card (click)="navigateToCamera()" >
          <ion-card-header>
            <ion-icon size="large" name="camera-outline"></ion-icon>
            <ion-card-title>Camara</ion-card-title>
          </ion-card-header>


        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card (click)="navigateToRegister()" >
          <ion-card-header>
            <ion-icon size="large" name="id-card-outline"></ion-icon>
            <ion-card-title>Registrarse</ion-card-title>

          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>



</ion-content>