<ion-content>
  <div class="background-top"></div>
   <h1>FOTOS</h1>
  <ion-card *ngFor="let photo of photos">

    <div class="photo-container">
      <div class="title">{{ photo.title }}</div>
      <img src="{{ photo.image }}" />
      <div class="date">{{ photo.captureDate | date: 'dd/MM/yyyy' }}</div>
    </div>
    
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-tabs>
      <ion-tab-bar slot="bottom">

        <ion-tab-button (click)="takePicture()">
          <ion-icon class="tab" size="large" name="camera-outline"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>

  </ion-toolbar>
</ion-footer>